---
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
    display:inline;
}
.mainheading h1.sitetitle {
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}

.jumbotron {
    background-position: center;
}

.navbar {
    background-color: rgba(194, 198, 180, 0.9) !important;
}

.layout-post .site-content img {
    max-width: 100%; 
    box-shadow: 1px 1px 4px #bbb;
    border-radius: 10px;
}
